.card {
  .card-content {
    margin-bottom: -21px;
    padding: 0;
    overflow: hidden;
  }
  .legend-wrapper {
    max-height: 10%;
    min-height: 23px;
    overflow-x: none;
    overflow-y: auto;
    padding-bottom: 4px;
    width: 98%;
  }
  .legend-wrapper .legend {
    overflow: visible;
  }
}
