.base-list {
  display: block;
  list-style: none;

  .list-item {
    width: 100%;
    border-bottom: 1px solid #dadce0;

    .list-item-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      position: relative;
      height: auto;
      min-height: 44px;

      .list-item-icon {
        flex-shrink: 0;
        height: 36px;
        width: 36px;
        margin-right: 12px;
        font-size: 24px;
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 20px;
        background-color: #ebebeb;
        color: rgba(0, 0, 0, 0.87);
        padding: 4px;

        svg {
          fill: currentColor;
        }
      }

      .list-item-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
      }
    }

    &[disabled] {
      color: rgba(0, 0, 0, 0.34);

      .list-item-icon {
        color: rgba(0, 0, 0, 0.34);
      }
    }
  }
}

.action-list {
  @extend .base-list;

  .list-item {
    cursor: pointer;
    outline: inherit;

    &:not([disabled]):hover {
      border-image: none;
      border-color: #dadce0;
      background: rgba(0, 0, 0, 0.04);

      &:first-child {
        margin-top: -1px;
        border-top: 1px solid #dadce0;
      }
    }
  }
}
