table.base-table {
  border-collapse: collapse;

  thead {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
  }

  tbody {
    font-size: 12px;
    font-weight: 400;
  }

  tr {
    height: 34px;
    border-bottom: 1px solid #dadce0;
  }
}
